/* Flex Carousel 0.1.0 ( https://github.com/tightcode/flex-carousel ) */
@media (min-width: 576px) {
  .carousel-caption {
    bottom: 50px;
  }
  h5 {
    font-size: 1.75rem;
  }
}
@media (min-width: 768px) {
  .carousel-caption {
    bottom: 80px;
  }
  h5 {
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  .carousel-caption {
    bottom: 120px;
  }
  h5 {
    font-size: 5.5rem;
  }
}
@media (max-width: 575.98px) {
  div.img {
    height: 180px;
  }
  img {
    height: 180px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  div.img {
    height: 240px;
  }
  img {
    height: 240px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.img {
    height: 320px;
  }
  img {
    height: 320px;
  }
}
@media (min-width: 992px) {
  div.img {
    height: 420px;
  }
}
@media (max-width: 1919.98px) {
  div.img {
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  img {
    width: auto;
    flex: none;
  }
}
@media (min-width: 1920px) {
  div.img {
    display: block;
    justify-content: normal;
  }
  img {
    height: auto;
    width: 100%;
    min-width: 100%;
  }
}